.version.blog /* version checker */
{
	color: #0000F1;
	background-color: #5F5EF6;
}

.html
{
	background-color: #004655;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1741px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -4px;
	width: 0.01px;
}

#u82
{
	z-index: 15;
	width: 98px;
	margin-right: -10000px;
}

#menuu88
{
	z-index: 17;
	width: 446px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 120px;
}

#u96
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
}

#u97
{
	width: 87px;
	padding-bottom: 17px;
}

#u97:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u97:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u98-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u97:hover #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u97:active #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u110
{
	width: 87px;
	min-height: 34px;
	margin-right: -10000px;
	left: 89px;
}

#u113
{
	width: 87px;
	padding-bottom: 17px;
}

#u97.MuseMenuActive,#u113:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u113:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u113.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u97.MuseMenuActive #u98-4,#u113:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u113:active #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u113.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u123
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 178px;
}

#u124
{
	width: 88px;
	padding-bottom: 17px;
}

#u124:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u124:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u126-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u124:hover #u126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u124:active #u126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u136
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u139
{
	width: 88px;
	padding-bottom: 17px;
}

#u124.MuseMenuActive,#u139:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u139:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u140-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u124.MuseMenuActive #u126-4,#u139:hover #u140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u139:active #u140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 358px;
}

#u152
{
	width: 88px;
	padding-bottom: 17px;
}

#u139.MuseMenuActive,#u152:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u152:active
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u152.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u153-4
{
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u139.MuseMenuActive #u140-4,#u152:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u152:active #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u152.MuseMenuActive #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u81,#u81-bw
{
	z-index: 14;
	min-height: 98px;
}

#pu533
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 35px;
}

#u533
{
	z-index: 48;
	width: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u534-24
{
	z-index: 49;
	width: 172px;
	min-height: 287px;
	position: relative;
	margin-right: -10000px;
	padding: 10px 10px 17px 30px;
}

.rss-text-styles
{
	border-style: none;
	border-color: transparent;
	background-color: #EDEDED;
}

#u534-2
{
	line-height: 26px;
	color: #FF0000;
}

#u534-6
{
	color: #000000;
}

#u538
{
	z-index: 60;
	width: 23px;
	height: 23px;
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #FFFFFF;
}

#u537,#u535
{
	float: left;
}

#u536
{
	z-index: 68;
	width: 23px;
	height: 23px;
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #FFFFFF;
}

.rss-odd-container,.rss-even-container
{
	border-style: none;
	border-color: #ADADAD;
	background: #FFFFFF url("../images/untitled-1.png") repeat-x left bottom;
}

#u534-9,#u534-15,#u534-18,#u534-21
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u539
{
	z-index: 77;
	width: 625px;
	min-height: 1571px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u75
{
	z-index: 2;
	min-height: 97px;
	padding-bottom: 4px;
}

#u81_align_to_page,#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u499
{
	z-index: 3;
	width: 192px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u508
{
	z-index: 5;
	width: 29px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 336px;
}

#u511
{
	z-index: 7;
	width: 29px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 375px;
}

#u517
{
	z-index: 9;
	width: 29px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 414px;
}

#u529
{
	z-index: 11;
	width: 23px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 456px;
}

#u523
{
	z-index: 12;
	width: 29px;
	margin-bottom: -4px;
	margin-right: -10000px;
	margin-top: -4px;
	left: -3px;
}

#u503
{
	z-index: 4;
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 80px;
	left: 1087px;
}

#u75-bw
{
	z-index: 2;
	min-height: 97px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

